@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: #2a2a2a;
}

.app {
  display: flex;
  position: relative;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FF7439;
  overflow: hidden;

}

.kanbanContainer {
  height: 90vh;
  width: 75vw;
  background-color: #F2EFE3;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kanbanBoardContainer {
  width: 95%;
  max-height: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.kanbanBoardHeader {
  display: flex;
  width: auto;
  margin: 10px;
  flex-direction: row;
  padding: 10px;
  color: #2a2a2a;
  align-items: center;
  justify-content: space-between ;
  border-bottom-style: solid;
  border-bottom-width: 3px;

}

.kanbanBoardHeader h1 {
  font-size: 15px;
}

.footerNav {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FF7439;
  /* background-color: purple; */
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  font-size: 12px;
  z-index: 100;
}

.pageChangeBtn {
  margin: 0px 40px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  width: 210px;
  justify-content: space-between;
  cursor: pointer; 

}

.pageCircles {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  /* background-color: pink; */
  margin: 0 10px ;
  border: none;
  cursor: pointer; 
}

.pageCirclesActive {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  /* background-color: pink; */
  margin: 0 10px ;
  border: none;
  cursor: pointer; 
}

.musicPlayer {
  padding: 20px;
  margin: 40px;
}
.musicPlayerContainer {
  display: flex;
  flex-direction: row;
}

.musicPlayerMiddleCircle {
  width: 90vh;
  height: 90vh;
  background-color: #F2EFE3;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fullSizeSemiCircle {
  height: 90vh;
  width: 45vh;
  border-radius: 0 67.25vh 67.25vh 0;
  background-color: #005AB7;

}

.footerCirclesContainer {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  
}


.container {
  width: 90vh;
  /* min-width: 90vh; */
  /* margin: auto; */
  overflow: auto;
  height: 90vh;
  min-height: 600px;
  /* border: 1px solid steelblue; */
  /* border-radius: 5px; */
  border-radius: 50%;
  /* padding: 50px; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #005AB7;
  color: white;
}

.taskAndSemiCircleContainer {
  height: 90vh;
  min-width: calc(100vw - 90vh);
  /* background-color: purple; */
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  padding-right: 22.5vh;
  /* z-index: 2; */
}

.taskHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 10px;
  color: #2a2a2a;
  /* background-color: blue; */
  justify-content: space-between ;
  border-style: solid;
  border-bottom-width: 9px;
  border-left-width: 5px;
  border-color: #2a2a2a;
  z-index: 50;
}

.taskContainer {
  background-color:#F2EFE3;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px;
}

.taskContainerSemiCircle{
  height: 45vh;
  width: 22.5vh;
  position: absolute;
  top: 0px;
  right: -22.5vh;
  background-color: #FFD600;
  border-radius: 0 33.75vh 33.75vh 0;
  z-index: 2;
}

.taskListComponent {
  width: 100%;
  z-index: 25;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.startResetBtnContainer {
  display: flex;
  flex-direction: row;

}

.pomodoroTabGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* color:white; */

}

.timeSettings {
  padding: 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
  margin: 20px;
}

.kanbanPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btnStartReset {
  display: inline-block;
  border: none;
  padding: 10px 30px 10px 30px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.btnStartReset:disabled {
  color: red;
  background: #005AB7;
  /* background-color: transparent; */

}

.timer h1 {
  font-size: 12vh;

}

.timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerContainer h1 {
  font-size: 15px;
  font-style: normal;
  font-weight: lighter;
}

.timerContainer h3 {
  font-size: small;

}

.timerGroup {
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

}

.incrementBtn {
  background: transparent;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;
  font-size: 30px;
  border: none;
  /* border: 0.5px solid white; */
  margin: 0px 15px;
  cursor: pointer;
}

.incrementBtn:disabled {
  color: #005AB7;
  background: #005AB7;
  background-color: transparent;

}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  color: #2A2A2A;
  /* margin: 5px 15px 5px 0; */
  margin: 5px 0px;
  padding: 10px 10px;
  cursor: pointer;
  position: relative;
}

.task input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxContainer {
  background-color: white;
  border-color: #005AB7;
  border-style: solid;
  border-radius: 0.1em;
}

.checkboxContainer:hover input ~ .checkmark {
  /* border-style: solid; */
  background-color: #ccc;
}

.checkmark {
  position: relative;
  display: flex;
  height: 17px;
  width: 17px;
  background-color: #eee;
}

.task input:checked ~ .checkmark {
  background-color: #2196F3;
}

.task input:checked ~ .checkmark:after {
  display: block;
}

.task .checkmark:after {
  left: 5px;
  /* top: 1px; */
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.taskContents {
  margin-left: 15px;
}

.addTaskPopout {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background-color: pink; */
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  z-index: 200;
  color: black;
  align-items: center;
  justify-content: center;
}

.addTaskForms {
  width: 40vw;
  height: 80vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #005AB7;
  position: relative;

}

.addTaskForms h1 {
  justify-self: center;
  color: white;
  font-size: 30px;
  padding: 15px;
  font-style: normal;
  font-weight: lighter;
  position: absolute;
  top: 0px;
}

.taskMenuIcon {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #2A2A2A;
}

.task h3 {
  font-size: 15px;
  font-weight: 800;
}

.task h4 {
  font-size: 10px;
  font-weight: 500;
}

.taskList {
  display: flex;
  flex-direction: column;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  /* height: 10px; */
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.3);
  /* background: red; */
}


::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  display: none;
  /* background: red; */
}

label {
  font-weight: bold;
  margin: 10px;
  color: white;

}
label span {
  font-weight: normal;
}

input {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: none;
}

select {
  font: 600;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-top: 0px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 45vh solid transparent;
  border-right: 45vh solid transparent;
  border-bottom: 45vh solid #005AB7;
  /* transform: rotate(-135deg); */
  position: absolute;
  bottom: 0px;
  left: -45vh;
}

